.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.formErrors{
  color: red;
}

.has-error input{
  border: 1px solid red;
}

.container{
  margin-top: 2rem;
  margin-bottom: 5em;
}

.searchFileForm{
  margin-bottom: 40px;
}

.route-buttons a{
  color: white;
}

.route-buttons a:hover{
  color: white;
  text-decoration: none;
}

.margin-all{
	margin: 40px;
}

.margin-header{
	margin: 20px;
}

.route-buttons .btn{
  height:50px;
  width: 300px;
}

.btn-fit {
  height: fit-content !important;
}