.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.formErrors {
  color: red;
}

.has-error input {
  border: 1px solid red;
}

.container {
  padding: 2rem;
}

.searchFileForm {
  margin-bottom: 40px;
}

.route-buttons a {
  color: white;
}

.route-buttons a:hover {
  color: white;
  text-decoration: none;
}

.name-search,
.advanced-search {
  margin-top: 3rem;
}

.name-search {
  margin-top: 6rem;
}

.header {
  margin-top: 1rem;
}

.advanced-search-link,
.advanced-search-link:hover, .custom-color {
  color: #17a2b8;
}

.name-search input {
  border-radius: 15px;
}

.btn-fit {
  height: fit-content !important;
}

/* Override Tags style */
.react-tagsinput {
  border: 1px solid #ced4da !important;
  border-radius: .25rem !important;
}

.react-tagsinput-tag {
  background-color: #047bd5 !important;
  color: white !important;
  border: none !important;
}

.react-tagsinput-input {
  font-size: 1rem;
  font-family: inherit;
}

/* .omc-logo {
  width: 80%;
  height: 90%;
} */

.header-text {
  margin: auto;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-weight: 500;
  font-size:1.5rem;
}

.username{
  font-weight: 500;
  font-size:1rem
}